.menuHorizontal {
text-align: center;
color:rgb(226, 43, 43)
}
.titulo{
text-align: center;
color:rgb(0, 191, 255)
}
.tablaPrincipal{
    margin: auto;
    margin-top: 200px;
    color:rgb(203, 231, 46);
}
.header{
margin-left: 100px;
color: rgb(88, 88, 89)
}
footer {
text-align: center;
color: rgb(88, 88, 89);
margin-top: 100px;
}